section {
  text-align: center;
  padding: 110px 0;
}
section h2 {
  font-size: 40px;
}
section>p {
  margin-top: 20px;
  margin-bottom: 80px;
}
section p{
  color: #777;
  font-size: 16px;
}
.intro .icon {
  width: 33.33%;
  float: left;
  padding: 10px 20px;
  
}
.intro .icon span {
  color: white;
  font-size: 80px;
  border-radius: 50%;
  border: #fed136;
  background: #fed136;
  padding: 15px;
}
.intro .icon h4 {
 margin-top: 25px;
 margin-bottom: 15px;
}
.bk-gray {
  background: #f1f1f1;
}
section figure {
  width: calc(33.33% - 20px);
  float: left;
  margin: 10px;
  height: 270px;
  background: white;
  position: relative;
}
section figure a {
  display: block;
  height: 210px;
}
section figure img {
  width: 100%;
  height: 100%;
}
section figcaption {
  margin-top: 10px;
  font-size: 22px;
}
.baffle {
  position: absolute;
  background:rgba(254, 209, 54, .9);
  height: 210px;
  width: 100%;
  opacity: 0;
}
section figure .baffle:hover {
  opacity: 1;
  cursor: pointer;
}
#about img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: #fed136 8px solid;
}
.img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: #fed136 8px solid;
  float: right;
  background: #fed136;
  color: white;
  text-align: center;
  padding: 30px 10px;
  font-size: 20px;
  font-weight: bold;
}
#about li:nth-child(odd) img {
  float: right;
}
#about li:nth-child(odd) dl {
  margin-right: 200px;
}
#about li:nth-child(even) dl {
  margin-left: 200px;
}
#about li:nth-child(even) img {
  float: left;
}
#about li:nth-child(odd) {
  padding-right: calc(50% - 75px);
  margin-top: 100px;
  text-align: right;
}
#about li:nth-child(even) {
  padding-left: calc(50% - 75px);
  margin-top: 100px;
  text-align: left;
}
#about li {
  position: relative;
}
#about li::before {
  content: '';
  height: 100px;
  border: #fed136 2px solid;
  position: absolute;
  top:150px;
  right: calc(50% - 3px);
}
#about li:last-child::before {
  border: white;
}
#about li::after {
  content: "";
  clear: both;
  display: block;
}
#about dt{
  font-size: 18px;
  font-weight: bold;
}
#about dd{
  font-size: 16px;
  color: #777;
}
#team img {
  border-radius: 50%;
  border: white 4px solid;
  height: 250px;
}
#team ul {
  padding: 50px 0;
  width: 1100px;
  margin: 0 auto;
}
#team li {
  float: left;
  width: 33.33%;
}
#team h4 {
  margin-top: 20px;
}
#team p{
  margin-bottom: 10px;
}
#team .foot {
  margin: 0 auto;
  text-align: center;
  width: 1000px;
  display: block;
  padding: 0 100px;
}


